{% extends 'app/adminbase.html' %}{% block title %} cool {% endblock %}{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark" style="height: 100vh; padding: 0%; ">
            <div class="opt">
                <a href="{% url 'admin_cart' %}" class="a">
                    <H5 class="border-bottom border-light options text-light my-0">Carts</H5>

                </a>
                <a href="{% url 'admin_category' %}" class="a">
                    <H5 class="bg-light border-bottom border-top border-light options text-dark my-0">Category</H5>
                </a>
                <a href="{% url 'admin_order' %}" class="a">
                    <H5 class="border-bottom border-light options text-light my-0">Order</H5>
                </a>
                <a href="{% url 'admin_product' %}" class="a">
                    <H5 class="border-bottom border-light options text-light my-0">Product</H5>
                </a>
            </div>
        </div>

        <div class="col-10">

            <div class="heading">
                <h1>Hamro Vancha</h1>
            </div>
            <div class="heading">
                <h3> Admin Panel
                </h3>
            </div>
            <div style="display:flex;justify-content:flex-end;margin-bottom:10px">
                <div>
                    <a href="/admin_category_add/"> <button type="button" class="btn btn-success">Add</button></a>
                </div>
            </div>
            <div class="scroll">
                <table class="table table-wrapper-scroll-y my-custom-scrollbar">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {% for i in category %}
                    <tbody>
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.image}}</td>
                            <td style="word-break: break-all;">{{i.description}}</td>
                            <td><a href="/admin_category_edit/{{i.id}}"><button type="button" class="btn btn-secondary">Edit</button></a> <a href="/admin_category_delete/{{i.id}}"><button type="button" class="btn btn-danger">Delete</button></td></a>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
</div>{% endblock content %}