{% extends 'app/adminbase.html' %} {% block content %}
<div class="col-lg-6 mt-4">
    <h1 class="text-primary">Customer Form</h1>
    <form action="/admin_cart_add/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>User</label>
            <!-- <input type="text" value="{{cart.user}}" name="customer_name" class="form-control" /> -->

            <select name="user" id="">
                {% for i in user %}
                <option value="{{i.id}}">{{i.username}}</option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <label>Product</label>
            <select name="product" id="">
                {% for i in product %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Product Quantity</label>
            <input type="number" value="{{cart.product_qty}}" name="product_qty" class="form-control" />
        </div>

        <div class="form-group mt-4">
            <input class="btn btn-primary" type="submit" value="update" />
            <a href="/customer/index">ack</a>
        </div>
    </form>
</div>
{% endblock %}