{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now{% endblock title %} {% block main-content %}
<div class="container " style="margin-top: 100px;">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr> {% for i in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{i.product.name}}</h5>
                    <p>Quantity: {{i.product_qty}}</p>
                    <p class="fw-bold">Price: {{i.total_cost}}</p>
                </div>
            </div>
            <p>Total Amount = {{total_amount}}</p>
            {% endfor %}
            <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
        </div>

        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr> {% for ad in add %}
            <form action="/order_placed">
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.first_name}} {{ad.last_name}}</h5>
                        <p>{{ad.state}}, {{ad.city}}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" value="">
                    <label class="form-check-label fw-bold" for="">
             Address: </label>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-dark mt-3 px-5 fw-bold">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}