{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now{% endblock title %} {% block main-content %}

<body>
    <div class="menu">
        <div class="heading">
            <h1>Hamro Vancha</h1>
            <h3>&mdash; MENU &mdash;</menu>
            </h3>
        </div>
        <div class="food-items">
            <img src="{%static 'images/watch.jpg'%}" alt="">
            <div class="details">
                <div class="details-sub">
                    <h5>Smoky hamburga</h5>
                    <h5 class="price">$8</h5>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea tempora deserunt illum, odio pariatur ad nihil optio adipisci vitae magni? Consequuntur sit voluptatem tempora fugiat pariatur atque minima exercitationem natus?</p>
                <button>Add To Cart</button>
            </div>
        </div>

    </div>
</body>
{% endblock main-content %}